@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.conRec{
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.btnRec{
    background-color: #FFE6E6 !important; 
    font-family: 'Roboto';
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 15px;
    height: 30px;
    width: 150px;
    text-align: center;

}

.cardAction{
    height: 50px;
    justify-content: center;
}
.cardRecTitle{
    font-family: 'Merriweather';
    font-weight: bold;
    color: black;
    font-size: 30px;
    text-align: center;

}
.cardRecSubTitle{
    font-family: 'Merriweather';
    font-weight: bold;
    color: #ECB390;
    font-size: 30px;
    text-align: center;
}

.recomenCard{
    font-family: 'Merriweather' !important;
    background-color: #ECB390 !important;
    font-size: 15px !important;
    color: black !important;
    width: 200px;

}
.recomenCard:hover{

    background-color: #bd8a6a !important;


}

.imgClass {
    height: 400px;
}