@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.conRec{
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.btnRec{
    background-color: #FFE6E6; 
    font-family: 'Roboto';
    font-weight: bold;
    color: black;
    font-size: 15px;
    height: 30px;
    width: 150px;
    text-align: center;

}
.btnRec:hover{
    background-color: #F2D1D1; 
}
.cardAction{
    height: 50px;
    justify-content: center;
}
.cardRecTitle{
    font-family: 'Merriweather';
    font-weight: bold;
    color: black;
    font-size: 30px;

}
.cardRecSubTitle{
    font-family: 'Dancing Script';
    font-weight: bold;
    color: #ECB390;
    font-size: 30px;
}